Test-BS.xcodeproj/project.xcworkspace/xcuserdata/*
Test-BS.xcodeproj/xcuserdata/*
Test-BS.xcodeproj/xcuserdata/LinK.xcuserdatad/*
Test-BS.xcworkspace/xcuserdata/*
Test-BS.xcscmblueprint/*
Pods/*
node_modules/*
